<div class="truckentry">
    <div class="truckentry_toptriangle">
    </div>
    <div class="truckentry_bottomtriangle">
    </div>
    <span class="truckentry_sectionforselect">
        <h2 class="truckentry_goarrow">
        Go
        </h2>
    </span>
    <span class="truckentry_sectionforname">
        <h1 class="truckentry_truckname">
        MUCKY TRUCK TUCK
        </h1>
        <h2 class="truckentry_timeopen">
        12AM &mdash; 2PM
        </h2>
        <h2 class="truckentry_distance">
        3.5 MILES
        </h2>
    </span>
    <span class="truckentry_slideoutmenuicon">
    </span>
</div>
